.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.img-border{
  border: none !important;
}

.btnClr{
  background-color: #ff2c40  !important;
}

.containerMargin{
  margin-top: 40px;
}

.maxcardHeight{
  height: 400px;
}

.form-padding{
  padding: 5%;
}

.alignDiv{
  margin: 0px auto;
}

.form-style {
  padding-top: 7%;
  padding-bottom: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
